@theme inline {
  /* Font Variables from next/font/google */
  /* --font-fraunces: var(--font-frauncesSerif);
  --font-barlow: var(--font-barlowSansSerif); */
  --font-manrope: var(--font-manropeSans);
}

@theme {
  /* Breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;

  --max-width: 1110px;

  /* Colors */
  --color-brand-primary: #d87d4a;
  --color-brand-primary-light: #fbaf85;

  --color-secondary: #fbaf85;

  --color-surface-page: #fafafa;
  --color-surface-card: #f1f1f1;
  --color-surface-card-dark: #101010;

  --color-body: #000;
  --color-body-inverted: #fff;
}
