.hero {
  position: relative;
  overflow: hidden;
}
.hero::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #0e0e0e;

  z-index: -2;
}

.hero-content {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 1.5rem;
}
.image {
  position: absolute;
  top: 14.61px;
  left: 50%;
  transform: translateX(-50%);
  height: 722px;
  z-index: -1;
  opacity: 0.521;
}
.heading {
  background-color: transparent;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 1.5rem;
  padding-top: 6.75rem;
  padding-bottom: 7rem;
}
.content span {
  font-size: 0.875rem;
  font-weight: var(--fw-regular);
  line-height: 1.1875rem;
  letter-spacing: 0.625rem;
  text-transform: uppercase;
  color: var(--white);
  opacity: 0.4964;
}
.content h2 {
  font-size: 2.25rem;
  font-weight: var(--fw-bold);
  line-height: 2.5rem;
  letter-spacing: 0.0625rem;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  max-width: 14ch;

  margin-top: 1rem;
}
.content p {
  font-size: 0.9375rem;
  font-weight: var(--fw-medium);
  line-height: 1.5625rem;
  color: var(--white);
  opacity: 0.75;
  text-align: center;
  max-width: 32ch;

  margin-top: 1.5rem;
}
.cta {
  margin-top: 1.75rem;
  text-transform: uppercase;
}

@media screen and (min-width: 710px) {
  .image {
    top: -37px;
    height: 960px;
  }
  .hero-content {
    padding: unset;
    width: calc(100% - 2.4375rem * 2);
  }
  .content {
    padding-top: 7.8125rem;
    padding-bottom: 10.4375rem;
  }
  .content h2 {
    font-size: 3.5rem;
    line-height: 3.625rem;
    letter-spacing: 0.125rem;
    margin-top: 1.5rem;
  }
  .content p {
    max-width: 40ch;
  }
  .cta {
    margin-top: 2.5rem;
  }
}
@media screen and (min-width: 1190px) {
  .hero::after {
    background-color: #131313;
  }
  .image {
    position: absolute;
    top: 0;
    left: calc(50% - 112px);
    transform: unset;
    height: 886px;
    opacity: 1;
  }

  .hero-content {
    width: calc(100% - 2.4375rem * 2);
  }
  .content {
    padding-top: 7.9375rem;
    padding-bottom: 9.875rem;
    align-items: flex-start;
  }
  .content h2 {
    text-align: start;
  }
  .content p {
    text-align: start;
  }
}
