.card {
  width: 100%;
  max-width: 327px;
  height: 165px;

  position: relative;
  background-color: var(--light);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 1.0625rem;

  padding-bottom: 1.375rem;

  text-decoration: none;
  outline: none;
}
.imageContainer {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -40%);
  transition: all 0.3s ease;

  height: 140px;
}
.image {
  width: auto;
  height: 100%;
}
.name {
  font-size: 0.9375rem;
  font-weight: var(--fw-bold);
  line-height: 1.25rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  color: var(--black);
}
.link {
  display: flex;
  align-items: center;
  gap: 0.8125rem;
  text-decoration: none;
  outline: none;
}

.link span {
  font-size: 0.8125rem;
  font-weight: var(--fw-bold);
  line-height: 1.125rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  color: var(--black);
  opacity: 0.5;
  transition: all 0.3s ease;
}

.card:hover .link span {
  color: var(--primary);
  opacity: 1;
}
.card:hover .imageContainer,
.card:focus .imageContainer {
  transform: translate(-50%, -35%);
}
.card:focus .link span {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--primary);
}
.card:focus .link span {
  color: var(--primary);
  opacity: 1;
}

@media screen and (min-width: 710px) {
  .card {
    max-width: unset;
  }
}
@media screen and (min-width: 1190px) {
  .imageContainer {
    height: 204px;
  }
  .card {
    height: 204px;
    gap: 0.9375rem;
    padding-bottom: 1.875rem;
  }
  .name {
    font-size: 1.125rem;
    line-height: 1.5625rem;
    letter-spacing: 0.0625rem;
  }
}
