.content {
  max-width: var(--max-width);
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.imageContainer {
  width: 100%;
}
.image {
  width: 100%;
  border-radius: 10px;
}

.textBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  margin-top: 2.5rem;
  font-size: 1.75rem;
  font-weight: var(--fw-bold);
  line-height: 2.375rem;
  letter-spacing: 0.0625rem;
  color: var(--black);
  text-align: center;

  text-transform: uppercase;

  max-width: 15ch;
}
.heading span {
  color: var(--primary);
}
.text {
  text-align: center;
  margin-top: 2rem;

  font-size: 0.9375rem;
  font-weight: var(--fw-medium);
  line-height: 1.5625rem;

  color: var(--black);
  opacity: 0.5;

  max-width: 35ch;
}
@media screen and (min-width: 550px) {
  .outro {
    padding: 0 2.375rem;
  }
  .heading {
    margin-top: 3.9375rem;
    font-size: 2.5rem;
    font-weight: 0.0625rem;
    line-height: 2.75rem;
    max-width: 22ch;
  }
  .text {
    max-width: 62ch;
  }
}
@media screen and (min-width: 1190px) {
  .outro {
    padding: 0 2.375rem;
  }
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'text image';
  }
  .imageContainer {
    grid-area: image;
  }
  .textBlock {
    align-items: flex-start;
  }
  .heading {
    margin-top: unset;
    max-width: 24ch;
    text-align: start;
  }
  .text {
    max-width: 48ch;
    text-align: start;
  }
}
